/* <style>@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
font-family: 'Montserrat',
sans-serif;
</style> */


/*  */


/* <style>@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
font-family: 'Roboto',
sans-serif;
</style> */


/* ------------------------------------------------------------

                            END_FONT

                            START_BODY

------------------------------------------------------------- */

html {
    scroll-behavior: smooth;
}

body {}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div,
h1,
p {
    font-family: 'Montserrat', sans-serif;
}

.header-content,
.main-content,
.footer {
    max-width: 900px;
    margin: auto;
    padding: 0 10px;
}

.container {}


/* ------------------------------------------------------

                    HEADER

------------------------------------------------------ */

.header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/Bitmap.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: contrast(150%);
    z-index: 2;
}

.header-content {
    padding-top: 50px;
    margin: 0 auto;
}

.header-head {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 20px;
    font-weight: 700;
}

.header-logo a {
    color: #ffffff;
    text-decoration: none;
}

.header-auth {
    display: flex;
    align-items: center;
}

.header-auth a {
    color: #ffffff;
    text-decoration: none;
}

.header-log-in {
    font-size: 14px;
    font-weight: 400;
    padding: 5px 8px;
    border-radius: 18px;
    transition: background 1s;
}

.header-log-in:hover {
    background: rgba(192, 192, 192, .3);
    transition: background 1s;
}

.header-sing-up {
    font-size: 14px;
    font-weight: 400;
    border-radius: 18px;
    border: 2px solid #ffffff;
    padding: 5px 8px;
    margin-left: 7px;
    transition: background 1s;
}

.header-sing-up:hover {
    background: rgba(192, 192, 192, .3);
    transition: background 1s;
}


/* --------------------HEADER_BODY---------------------- */

.header-body {
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header-title {
    color: #ffffff;
    font-size: 52px;
    font-weight: 700;
    text-align: center;
}

.header-subtitle {
    color: #f7f3f2;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 25px 0;
}

.header-button a {
    color: white;
    background: rgb(255, 77, 79);
    font-size: 14px;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    border-radius: 20px;
    padding: 10px 35px;
    outline: none;
    border: none;
    animation-name: header-button;
    animation-duration: 3s;
    transition: background 1s;
}

@keyframes header-button {
    0% {
        color: transparent;
        background: rgba(0, 0, 0, 0);
    }
    100% {
        background: rgb(255, 78, 80);
    }
}

.header-button a:hover {
    color: #ff4e50;
    background: white;
    border: 2px solid #ff4e50;
    transition: background 2s;
}


/* --------------------SECTION---------------------- */

.main-content {
    padding-top: 50px;
}

.content__row-img {}

.content_row__title {
    color: #444444;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.row-img {
    display: flex;
    flex-wrap: wrap;
}

.row-img__card {
    height: 400px;
    width: 31%;
    cursor: pointer;
}

.row-img__card_home {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/Bitmap3.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 20px;
    transition: 2s;
}

.row-img__card_home:hover {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/Bitmap3.png);
    background-size: cover;
    border-radius: 10px;
    opacity: .7;
    transform: scale(1.03);
    transition: 2s;
}

.row-img__card_road {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/Bitmap1.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 20px;
    margin: 0 20px;
    transition: 2s;
}

.row-img__card_road:hover {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/Bitmap1.png);
    background-size: cover;
    border-radius: 10px;
    opacity: .7;
    transform: scale(1.03);
    transition: 2s;
}

.row-img__card_sea {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/Bitmap2.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 20px;
    transition: 2s;
}

.row-img__card_sea:hover {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/Bitmap2.png);
    background-size: cover;
    border-radius: 10px;
    opacity: .7;
    transform: scale(1.03);
    transition: 2s;
}

.row-img__step {
    width: 70px;
    height: 20px;
    color: #ffffff;
    background: #ff4e50;
    font-size: 10px;
    font-weight: 400;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-img__title {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    margin: 10px 0;
}

.row-img__text {
    color: #e3e3e3;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 15px;
}


/* --------------------PARTNER---------------------- */

.row-partners {
    padding-top: 100px;
}

.row-partner__title {
    color: #444444;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.row-partners__box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.partner__box {
    width: 23.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}


/*  */

.partner__box__shape {
    position: relative;
}

.partner__box__shape img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.partner__box__shape__wrapper {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    bottom: 4px;
    right: 0;
}

.partner__box__shape__wrapper_one {
    background-image: url(../images/b-1.png);
}

.partner__box__shape__wrapper_two {
    background-image: url(../images/b-2.png);
}

.partner__box__shape__wrapper_three {
    background-image: url(../images/b-3.png);
}

.partner__box__shape__wrapper_four {
    background-image: url(../images/b-4.png);
}

.partner__box__shape_more {
    width: 32px;
    height: 32px;
    color: white;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partner__box__shape_red {
    background: #ff4e50;
}

.partner__box__shape_ague {
    background-color: #19d4ca;
}

.partner__box__shape_orange {
    background-color: #ffa710;
}

.partner__box__shape_violet {
    background-color: #667df3;
}


/*  */

.partner__box__title {
    color: #444444;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    margin: 15px 0;
}

.partner__box__text {
    color: #666666;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}


/* ROW_PARTNER_BUTTON */

.row-partner__button a {
    width: 180px;
    height: 40px;
    color: #ff4e50;
    background: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    border: 2px solid #ff4e50;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    animation-name: row-partner__button;
    animation-duration: 1.5s;
    transition: 1s;
}

@keyframes row-partner__button {
    0% {
        color: #ff4e50;
        background: rgba(255, 78, 80, 0);
    }
    100% {
        color: #ff4e50;
        background: white;
    }
}

.row-partner__button a:hover {
    color: white;
    background-color: #ff4e50;
    transition: 1s;
}


/* CONTENT__COL_IMG */

.content__col-img {
    margin-bottom: 93px;
}

.col-img__title {
    color: #444444;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 36px;
}

.col-img__box {
    display: flex;
    flex-wrap: wrap;
}

.col-img__box__item {
    height: 310px;
    width: 32%;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin: 5px;
    transition: 2s;
    cursor: pointer;
}

.col-img__box__item:hover {
    border-radius: 10px;
    opacity: .5;
    transform: scale(1.03);
    transition: 2s;
}

.col-img__box__item__sport {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/Bitmapp.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-img__box__item__health {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/Bitmap-1.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-img__box__item__extreme {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/Bitmap-2.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-img__box__item__games {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/Bitmap-3.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-img__box__item__culture {
    width: 65%;
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/Bitmap-4.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-img__box__item__relation {
    width: 65%;
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/Bitmap-5.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-img__box__item__travelling {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/Bitmap-6.png);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* --------------------FORM---------------------- */

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-title {
    color: #444444;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
}

.form-subtitle {
    color: #666666;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 53px 0 22px 0;
}

.form-input {
    height: 40px;
    width: 299px;
    color: #999999;
    background: #ffffff;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    border-radius: 3px;
    border: 1px solid #d4d4d4;
    outline: none;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.07));
    transition: 1s;
    padding: 0 10px;
    margin-right: 10px;
}

.form-input:focus {
    font-size: 12px;
    transition: 1s;
}

.form-button {
    width: 172px;
    height: 40px;
    color: #ffffff;
    background: #ff4e50;
    font-size: 14px;
    font-weight: 700;
    border-radius: 20px;
    border: none;
    outline: none;
    animation-name: form-button;
    animation-duration: 1.5s;
    transition: 1s;
}


}
@keyframes form-button {
    0% {
        color: transparent;
        background: rgba(0, 0, 0, 0);
    }
    
    100% {
        background: rgb(255, 78, 80);
    }
}
.form-button:hover {
    color: #ff4e50;
    background: white;
    border: 2px solid #ff4e50;
    transition: background 1s;
}

/* --------------------LINE_FLUID---------------------- */
.line-fluid {
    height: 2px;
    width: 100%;
    background-color: #ff4e50;
    margin: 100px 0 40px 0;
}

/* --------------------FOOTER---------------------- */
.footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.footer-logo a {
    color: #ff4e50;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}

/* --------------------FOOTER_COMPANY---------------------- */
.footer-company {}
.footer-company__title {
    color: #444444;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 18px;
}
.footer-company__item a {
    color: #999999;
    text-decoration: none;
    font-size: 14px;
    line-height: 27px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    padding: 0 5px;
    position: relative;
}
.footer-company__item a:hover {
    border-bottom: 2px solid silver;
    padding: 0 5px;
}

/* --------------------FOOTER_PARTNERS---------------------- */
.footer-partners {
    color: #444444;
    font-size: 14px;
    font-weight: 700;
}

/* --------------------FOOTER_ARETO---------------------- */
.footer-box {
    margin-left: 100px;
}
.footer-box__designed {
    color: #cccccc;
    font-size: 10px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-box__designed img {
    margin-top: 8px;
}

/* --------------------MEDIA_SCREEN---------------------- */
@media (min-width: 768px) and (max-width: 991.98px) {
    .partner__box {
        width: 34%;
        margin-bottom: 50px;
    }
    
    .row-partner__button {
        margin-top: 0;
    }
    /* --------------------COL_IMG---------------------- */
    
    .col-img__box__item {
        width: 31.99%;
    }
    
    .col-img__box__item__culture {
        width: 65.3%;
    }
    
    .col-img__box__item__relation {
        width: 65.3%;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .row-img__card {
        width: 30.9%;
    }
    
    .row-img__card_home {
        padding: 0 15px;
    }
    
    .row-img__card_sea {
        padding: 0 15px;
    }
    /* --------------------PARTNER_BOX---------------------- */
    
    .partner__box {
        width: 34%;
        margin-bottom: 50px;
    }
    
    .row-partner__button {
        margin-top: 0;
    }
    /* --------------------COL_IMG---------------------- */
    
    .col-img__box__item {
        width: 31.5%;
    }
    
    .col-img__box__item__culture {
        width: 64.7%;
    }
    
    .col-img__box__item__relation {
        width: 64.7%;
    }
}
@media (max-width: 575.98px) {
    .header-content {
        padding-top: 30px;
    }
    
    .header-head {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .header-auth {}
    
    .header-logo {
        margin-top: 80px;
    }
    
    .header-title {
        font-size: 30px;
    }
    
    .header-body {
        height: 50vh;
    }
    
    .header-subtitle {
        font-size: 18px;
    }
    /* --------------------HEADER---------------------- */
    
    .main-content {
        padding: 0;
        margin: auto;
    }
    
    .content_row__title {
        margin: 20px 0 10px 0;
    }
    
    .row-img {
        display: flex;
    }
    
    .row-img__card {
        width: 100%;
        background-size: cover;
        margin: 10px auto;
    }
    
    .row-img__card_road {
        margin: 0;
    }
    
    .row-img__title {
        width: 80%;
    }
    
    .row-img__text {
        width: 80%;
    }
    /* --------------------PARTNER_BOX---------------------- */
    
    .partner__box {
        width: 100%;
        margin-bottom: 50px;
    }
    
    .partner__box__text {
        width: 80%;
        margin: auto;
    }
    
    .row-partner__button {
        margin-top: 0;
    }
    /* --------------------COL_IMG---------------------- */
    
    .col-img__box__item {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 10px 0;
    }
    /* --------------------FORM---------------------- */
    
    .form-input-and-button {
        display: flex;
        flex-direction: column;
    }
    
    .form-button {
        margin-top: 15px;
    }
    /* --------------------FOOTER---------------------- */
    
    .footer {
        display: block;
        text-align: center;
    }
    
    .footer-company {
        width: 93%;
    }
    
    .footer-company__item {
        display: inline-block;
        margin-right: 10px;
    }
    
    .footer-partners {
        margin: 10px 0;
    }
    
    .footer-box {
        display: flex;
    }
    
    .footer-box__designed {}
}

/* --------------------SCROLL_TOP---------------------- */
.shape-scroll-top a {
    height: 40px;
    width: 40px;
    color: rgb(121, 108, 108);
    background: rgba(192, 192, 192, .3);
    text-decoration: none;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.scroll-top {
    font-size: 30px;
}